/* TABLET ONLY */
@media (max-width: 600px) {

    .main-header {
        margin-block-end: 10px;
        height: 70px;
    }

    .main-header .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #fff;
        border-inline-start: 1px solid #ccc;
        box-shadow: -6px 0px 20px 5px rgb(0 0 0 / 22%);
        min-width: 200px;
        transform: translateX(100%);
        z-index: 30;
        transition: transform 0.6s;
        padding-block-start: 1em;
    }

    .hamburger-btn {
        display: block;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-header .main-menu {
        text-align: center;
        flex-direction: column;
    }

    .main-menu>* {
        border-bottom: 1px solid #857979;
        margin-block-end: 2em;
    }

    /* canvas {
        width: 320px;
        height: 320px;
    } */

    .main-editor {
        width: 85%;
        max-width: 320px;
        max-height: max-content;
        font-size: 1em;
    }

    .gallery {
        top: 73px;
        height: 100vh;
    }

    .main-header .main-menu li:hover {
        color: rgb(98, 98, 158);
        scale: 1;
    }

    .main-header .main-menu li:not(:last-child) {
        margin-inline-end: 0;
    }

}

@media (min-width:100px) {
    canvas {
        width: 250px;
        height: 250px;
    }

    .gallery img {
        max-width: 150px;
        max-height: 150px;
    }
    
    input[type=text] {
        width: 10em;
    }

}

/* MOBILE ONLY */
@media (min-width:440px) {
    .main-content {
        height: max-content;
        justify-items: center;
    }

    .main-header {
        height: 70px;
        margin-block-end: 10px;
    }

    .gallery {
        top: 76px;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        height: 150vh;
    }

    canvas {
        width: 350px;
        height: 350px;
    }

    .main-editor {
        /* width: 85%; */
        max-width: 320px;
        max-height: max-content;
        font-size: 1em;

    }
    .gallery img {
        max-width: 350px;
        max-height: 350px;
    }

}

@media (min-width:601px) {

    .main-header {
        margin-block-end: 10px;
    }

    .main-editor {
        height: max-content;
        font-size: 1em;
    }

    .gallery {
        height: 100vh;
    }

    input[type=text] {
        width: 85%;
    }

}

@media (min-width:850px) {
    .main-header {
        margin-block-end: 1em;
    }

    .main-content {
        grid-template-areas:
            "canvas tools"
        ;
    }

    .main-editor {
        height: 100%;
        padding: 3em;
        padding-inline-start: 35px;
    }

}

@media (min-width:1150px) {
    canvas {
        width: 500px;
        height: 500px;
    }

    .main-content {
        justify-items: normal;
    }
}