button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.hamburger-btn {
    font-size: 1.5em;
    background-color: rgb(255, 236, 175);
    color: rgb(126, 100, 14);
    display: none;
}