.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    position: absolute;
    top: 110px;
    padding: 1em;
    width: 100%;
    height: max-content;

    z-index: 50;
    border-radius: 20px;
    background-image: url("../../images/gallery-background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    opacity: 0;

    pointer-events: none;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.404);
}

.gallery img {
    border-radius: 20px;
    cursor: pointer;
}

.gallery img:hover {
    opacity: 0.8;
    scale: 1.1;
}

input[type=file] {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: inline;
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-input label:hover {
    background: linear-gradient(40deg, #ff8ed2, #9793ff);
    scale:1.1;
}
